

/*nav{
    background-color: aqua;
    height: 70px;
    width: 100vw;
    border: 1px solid green;
  
}

aside{
  background-color: black;
  width: 70px;
  height: calc(100vh - 70px);
  border: 1px solid green;
}

aside>div{
    background-color: aqua;
    height: 25px;
    width: 100%;

}

main{
    border: 1px solid green;
    width: calc(100% - 70px);
    height: calc(100vh - 70px);
    overflow: auto;
}

/*main>div.my_box{
    background-color: blue;
    height: 1500px;
    
}*/

/*CSS con header e nav*/

header>section>nav{
     height: 80px;
     width: 100%;
     background-color: aqua;

}

i.fa-bell{
    color: rgb(255, 143, 0);
}



/*CSS aside*/

aside{
    background-color: black;
    width: 100px;
    height: calc(100vh - 80px);
    
}

aside>section{
    height: 100%;
    
}

aside>section  div{
    background-color: red;
    height: 20px;
    width: 100%;

}

/*CSS right box*/

main>section.right-box{
    overflow: auto;
    
    width: calc(100% - 100px);
    height: calc(100vh - 80px);
}

section.right-box>header{
    background-color: rgb(27, 114, 232);
    height: 250px;
}

section.right-box>header>section>div div{
    background-color: aqua;
    height: 45px;
    border: 1px solid magenta;
}
