

/*nav{
    background-color: aqua;
    height: 70px;
    width: 100vw;
    border: 1px solid green;
  
}

aside{
  background-color: black;
  width: 70px;
  height: calc(100vh - 70px);
  border: 1px solid green;
}

aside>div{
    background-color: aqua;
    height: 25px;
    width: 100%;

}

main{
    border: 1px solid green;
    width: calc(100% - 70px);
    height: calc(100vh - 70px);
    overflow: auto;
}

/*main>div.my_box{
    background-color: blue;
    height: 1500px;
    
}*/

/*CSS con header e nav*/

header>section>nav{
     height: 80px;
     background-color: aqua;

}

i.fa-bell{
    color: rgb(255, 143, 0);
}



/*CSS aside*/

aside{
    background-color: black;
    width: 100px;
    height: calc(100vh - 80px);
    
}

section{
    height: 100%;
    
}
aside>section  div{
    background-color: red;
    height: 20px;
    width: 100%;

}

main>section{
    overflow: auto;
    background-color: aquamarine;
    width: calc(100% - 100px);
    height: calc(100vh - 80px);
}